<div class="modulehead">
	<h4>Overzicht van de events</h4>
</div>

<ul class="blocklist">
	<% @events.each do |event| %>
    <li class="item">
    	<div class="dateicon-container">
			<a class="dateicon" href="<%= url_for event %>">
        		<span class="thmt day"><%= event.date.strftime("%d") %></span>
        		<span class="thmt month"><%= event.date.strftime("%b") %></span>
      		</a>
		</div>
      	<div class="details aside-dateicon">
        	<p class="detail info">
          		<a href="<%= url_for event %>"><%= event.title %></a>
        	</p>
        	<p class="detail">
				<%= event.date.strftime("%A") %>,  <%= event.start_time.strftime("%Hu%M") %> - <%= event.end_time.strftime("%Hu%M") %><br/>
           		<em><%= event.location %></em><br/>
				<%= link_to 'Bewerken', edit_event_path(event) %> | <%= link_to 'Verwijderen', event, :confirm => 'Bent u zeker?', :method => :delete %>
			</p>
      	</div>
    </li>
	<% end %>
  </ul>

<%= link_to 'Nieuw Event', new_event_path %>
